{% extends 'covid19api/layout.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block body %}

<div class="contenedor">

	<h2>Modificar datos del usuario {{ request.user.username.capitalize }}</h2>

	<hr style="border: 1px solid black;">

    <form method="POST"> {% csrf_token %}
        
    	{{ form.as_p }}
    	<p>Password: <a class="a-password" href="{% url 'change_password' %}">Cambiar Contraseña</a></p>

        <div class="align-center"><input type="submit" value="Aplicar Cambios"></div>
    </form>    
</div>

{% endblock body %}